<% @tasks.each do |task| %>
<section>
  <h5>Task name:</h5>
  <p><%= task['name'] %></p>
  <h5>Task details:</h5>
  <p><%= task['details'] %></p>
  <div>
    <a href="/tasks/<%= task['id'] %>">Show Task</a>
  </div>
</section>
<% end %>
