<form action='/tasks' method='post'>
  <div>
    <label for='name'>Task:</label>
    <input type='text' name='name'>
  </div>
  <div>
    <label for='details'>Details:</label>
    <textarea name='details'></textarea> 
  </div>
  <button>Add task</button>
</form>