body {
  text-align: center;
  background-color: #79b9d8;
  color: #174358;
}

nav li {
  display: inline;
}

section {
  display: block;
  border-radius: 10px;
  border-width: 1px;
  border-color: #174358;
  border-style: double;
  margin: 3px;
  padding: 5px;
}

button {
  font-family: times;
  font-size: 16px;
  border-color: #174358;
  text-decoration: none;
  background-color: #79b9d8;
  color: #174358;
  margin: 15px;
  border-style: solid;
}

a {
  float: bottom;
  padding: 2px 5px;
  border-width: 2px;
  text-decoration: none;
  background-color: #79b9d8;
  color: #174358;
  margin: 15px;
  border-style: solid;
}

div {
  clear: both;
  margin: 20px;
}

textarea {
  min-width: 300px;
  min-height: 100px;
}
